@import '../helpers/variables';
@import '../helpers/mixins';
@import '../components/btn-custom';

.wallet-title {
    // color: $lightColor;
    font-size: 47px;
    // text-shadow: 0 0 10px #EEE;
    margin-bottom: 50px;
}
.title {
    // color: $lightColor;
    font-size: 30px;
    margin-bottom: 30px;
}
.btn-custom {
    width: 200px;
}