@import '../helpers/variables';
@import '../helpers/mixins';

.footer {
    width: 100%;
    height: 100px;
    color: $lightColor;
    margin-top: 50px;
    background-color: transparent;
    hr {
        height: 3px;
    }
}